*{
    margin: 0;
    padding: 0;
}
.fullpage{
    min-height: 100vh;
    width: 100%;

}
.header{
    width: 100%;
    height:80px;
    background-image: linear-gradient(to top,rgba(235, 39, 39, 0.705),rgba(255, 255, 255, 0.253));
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1.4% 10%;
    text-align: center;
}
nav p a{
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 30px;
    cursor: pointer;
    font-weight: 800;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;

}
nav ul li a:hover{
    background-image: linear-gradient(to top,red,orange);
    padding: 5px 20px;
    border: 1px solid;
}
.deteles{
    margin: 10px 10%;
    padding: 5px 20px;
    border: 2px solid rgba(0, 0, 0, 0.671);
    outline: 1px solid rgb(255, 18, 58);
}
.deteles h2{
    text-align: center;
    text-shadow: 2px 2px 6px ;
    letter-spacing: 1.2px;
    word-spacing: 1.2px;
    

}
.deteles p{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-shadow: 1px 1px 2px rgb(216, 158, 158);
}
.music{
    margin: 5%;
    text-align: center;
}
.music audio{
    margin-top:5px;
}